# Dependencies
node_modules/

# Next.js
.next/
out/
# allow static out for frontend to be committed
!frontend/out/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
.DS_Store

# Env
.env
.env.*


